node_modules/
dist/
.env
.env*
!.env.example
coverage/
.turbo/
*.tsbuildinfo
.DS_Store
.build-progress.md
.migration-state.md

# local
.vscode/
.idea/
*.log
.directory
*-lock.json
.github/*
!.github/workflows/


# Supabase
supabase/*
!supabase/migrations/
!suabase/seed.sql